
<h1>Cawr</h1>

<p>
  Welcome to Cawr.
  It is like Twitter but for more bullish bird... like crows.
  Click <a href="/users/new">here</a> to become a Cawr.
</p>


<h2>
  Meet the Current Cawrs
</h2>


<ul>
  <% @users.each do |user| %>
    <li>
      <a href="/users/<%= user.id %>">
        <%= user.username %>
      </a>
    </li>
  <% end %>

</ul>
